/* src/components/About.css */
.about-container {
    padding: 20px;
    text-align: left;
  }
  
  .about-container h2 {
    margin-bottom: 20px;
  }
  
  .about-container p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
  }
  